*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #265D57;
    background-image: url('./image.jpeg');
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}
h1{
    text-align: center;
    margin: 50px 0px;
    font-size: 50px;
    color: rgb(159, 199, 13);
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}
img{
    width: 700px;
    height: 400px;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto;
    object-fit: cover;
    animation-name: animate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}


@keyframes animate {
    0%{
        transform: scale(0.95);
    }100%{
        transform: scale(1.05);
    }
}
h2{
    text-align: center;
    margin: 50px 0px;
    font-size: 50px;
    color: red;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}